@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
  .div1{
    font-size: 1em;
    margin-left: -50%;
  }.div11{
    font-size: 1em;
    margin-left: 4px;
  }
  .div2{
    margin-top: 312px;
  }.div5{
    height: 50%;
  }

  .div3{
    margin-left: 1px;
    font-size: 1em;
  }
  .div4{
    margin-top: 290px;
  }
}
.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

textarea:focus {
  outline: none;
}

input:focus {
  outline: none;
}